<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anji.sp.mapper.SpNoticeMapper">
    <update id="setNoticeEnableInvalid">
        update sp_notice set enable_flag = 0 where end_time <![CDATA[<]]> sysdate()
    </update>
</mapper>